body > * {
  ::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar
  {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: green;
  }
}

.button {
  &:hover {
    border: 1px black solid;
    background: green;
    color: black;
    cursor: pointer;
  }
  &.disabled, &.disabled:hover {
    background: black;
    color:  darken(green, 10);
    border-color: darken(green, 10);
    cursor: not-allowed;
  }
  border: 1px green solid;
  background: black;
  color: green;
}

input {
  display: block;
  background-color: black;
  color: green;
  outline: none;
  border: 1px green solid;
  &:disabled {
    color: darken(green, 10);
  }
}